body{
    font-family: 'Courier New',monospace;
}
input{
    font-family: 'Courier New', monospace;
}
button{
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}
h3{
    margin: 5px;
}
#kandydaci{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap: 90px;
    overflow-y: auto;
    padding-top: 40px;
}
.kand{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 320px;
    background-color:#cccccc;
    border: black solid 8px;
    border-radius: 40px;
    text-align: center;
    padding-top: 30px;
    align-items: center;
    cursor:pointer ;
    padding: 25px;
}
body{
    margin: 0px;
    display: grid;
    grid-template-rows: 20vh 80vh;
}
#adder{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "login input";
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    border-bottom: black 2px solid;
}
#inpPesel{
    text-align: center;
}
#log{    
    grid-area: login;
}
#login{
    border: 3px solid black;
    height: 64px;
    width: 64px;
    border-radius: 180px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 8px;
    align-items: center;
    background-color: #eeeeee;

}
#login img{
    cursor: pointer;
}
#pesele{
    grid-area: input;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 25%;
}
#login input{
    width: 100px;
}
#login div{
    display: flex;
    flex-direction: column;
}
#login{
    transition: 0.5s;
}
.bg{
    width: 64px;
    height: 64px;
    padding: 8px;
    border-radius:120px ;
    background-color: #eeeeee;
    border: solid 1px black;
}
#adder{
    background-color: #cccccc;
}